In [1]:
import pandas as pd
df = pd.read_csv("food.csv")
df.head()

,frequency,time,expenses,motivation,taste,hygiene,menu,presentation,attendance,ingredients,...,italian_food,brazilian_food,mexican_food,chinese_food,japanese_food,arabic_food,snacks,healthy_food,fitness_food,sweets_desserts
0,2,dinner,30,friend,5,4,4,3,4,4,...,0,0,0,0,0,0,0,0,0,1
1,0,dinner,20,by_chance,5,2,4,4,4,4,...,1,0,1,0,0,0,0,0,0,1
2,1,afternoon,15,by_chance,5,2,2,5,3,5,...,0,1,0,0,0,0,0,0,0,0
3,0,lunch,40,friend,5,5,4,3,4,4,...,0,0,0,0,0,0,0,0,0,0
4,0,dinner,15,social_network,5,4,2,3,4,4,...,0,0,0,0,0,0,0,0,0,0

In [2]:
import pandas as pd
df = pd.read_csv("food.csv")
df

,frequency,time,expenses,motivation,taste,hygiene,menu,presentation,attendance,ingredients,...,italian_food,brazilian_food,mexican_food,chinese_food,japanese_food,arabic_food,snacks,healthy_food,fitness_food,sweets_desserts
0,2,dinner,30,friend,5,4,4,3,4,4,...,0,0,0,0,0,0,0,0,0,1
1,0,dinner,20,by_chance,5,2,4,4,4,4,...,1,0,1,0,0,0,0,0,0,1
2,1,afternoon,15,by_chance,5,2,2,5,3,5,...,0,1,0,0,0,0,0,0,0,0
3,0,lunch,40,friend,5,5,4,3,4,4,...,0,0,0,0,0,0,0,0,0,0
4,0,dinner,15,social_network,5,4,2,3,4,4,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,0,dinner,30,friend,5,5,5,5,5,5,...,0,0,0,0,0,0,0,0,0,0
403,0,dinner,30,social_network,5,5,4,3,4,4,...,0,0,0,0,0,0,0,0,0,1
404,0,dinner,30,social_network,5,5,4,5,5,5,...,0,0,0,0,0,0,0,0,0,1
405,1,dinner,30,social_network,5,4,4,4,4,5,...,1,1,1,1,1,1,1,0,0,1
406,0,dinner,15,friend,4,4,5,2,4,4,...,0,0,0,0,0,0,1,0,0,0

In [3]:
df.isnull().sum()

frequency          0
time               0
expenses           0
motivation         0
taste              0
hygiene            0
menu               0
presentation       0
attendance         0
ingredients        0
place.to.sit       0
takeaway           0
variation          0
stop.strucks       0
schedule           0
gender             0
age.group          0
scholarity         0
average.income     0
has.work           0
marital.status     0
street_food        0
gourmet            0
italian_food       0
brazilian_food     0
mexican_food       0
chinese_food       0
japanese_food      0
arabic_food        0
snacks             0
healthy_food       0
fitness_food       0
sweets_desserts    0
dtype: int64

In [4]:
df.describe()

,frequency,expenses,taste,hygiene,menu,presentation,attendance,ingredients,place.to.sit,takeaway,...,italian_food,brazilian_food,mexican_food,chinese_food,japanese_food,arabic_food,snacks,healthy_food,fitness_food,sweets_desserts
count,407.000000,407.000000,407.000000,407.000000,407.000000,407.000000,407.000000,407.000000,407.000000,407.000000,...,407.000000,407.000000,407.000000,407.000000,407.000000,407.000000,407.000000,407.000000,407.00000,407.000000
mean,0.761671,21.486486,4.771499,4.651106,3.773956,4.272727,4.535627,4.481572,3.786241,2.732187,...,0.105651,0.176904,0.100737,0.039312,0.088452,0.061425,0.164619,0.081081,0.07371,0.378378
std,0.987461,7.247503,0.595032,0.699150,1.097696,0.877647,0.724711,0.799649,1.164333,0.982367,...,0.307769,0.382057,0.301351,0.194575,0.284301,0.240404,0.371293,0.273296,0.26162,0.485580
min,0.000000,15.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
25%,0.000000,15.000000,5.000000,4.000000,3.000000,4.000000,4.000000,4.000000,3.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
50%,0.000000,20.000000,5.000000,5.000000,4.000000,4.000000,5.000000,5.000000,4.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
75%,1.000000,20.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1.000000
max,4.000000,50.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000

In [5]:
df.attendance.value_counts()

5    259
4    119
3     20
2      6
1      3
Name: attendance, dtype: int64

In [21]:
X = df.drop("brazilian_food",axis=1)
y = df['expenses']

In [24]:
from sklearn.preprocessing import StandardScaler

In [28]:
import pandas as pd
df = pd.read_csv("food.csv")
df.head()

,frequency,Unnamed: 1,expenses,motivation,taste,hygiene,menu,presentation,attendance,ingredients,...,italian_food,brazilian_food,mexican_food,chinese_food,japanese_food,arabic_food,snacks,healthy_food,fitness_food,sweets_desserts
0,2,NaN,30,friend,5,4,4,3,4,4,...,0,0,0,0,0,0,0,0,0,1
1,0,NaN,20,by_chance,5,2,4,4,4,4,...,1,0,1,0,0,0,0,0,0,1
2,1,NaN,15,by_chance,5,2,2,5,3,5,...,0,1,0,0,0,0,0,0,0,0
3,0,NaN,40,friend,5,5,4,3,4,4,...,0,0,0,0,0,0,0,0,0,0
4,0,NaN,15,social_network,5,4,2,3,4,4,...,0,0,0,0,0,0,0,0,0,0

In [29]:
import pandas as pd
df = pd.read_csv("food.csv")
df.head()

,frequency,expenses,motivation,taste,hygiene,menu,presentation,attendance,ingredients,place.to.sit,...,italian_food,brazilian_food,mexican_food,chinese_food,japanese_food,arabic_food,snacks,healthy_food,fitness_food,sweets_desserts
0,2,30,friend,5,4,4,3,4,4,4,...,0,0,0,0,0,0,0,0,0,1
1,0,20,by_chance,5,2,4,4,4,4,5,...,1,0,1,0,0,0,0,0,0,1
2,1,15,by_chance,5,2,2,5,3,5,2,...,0,1,0,0,0,0,0,0,0,0
3,0,40,friend,5,5,4,3,4,4,3,...,0,0,0,0,0,0,0,0,0,0
4,0,15,social_network,5,4,2,3,4,4,2,...,0,0,0,0,0,0,0,0,0,0

In [30]:
X = df.drop("brazilian_food",axis=1)
y = df['brazilian_food']

In [32]:
import pandas as pd
df = pd.read_csv("food.csv")
df.head()

,frequency,expenses,taste,hygiene,menu,presentation,attendance,ingredients,place.to.sit,takeaway,...,italian_food,brazilian_food,mexican_food,chinese_food,japanese_food,arabic_food,snacks,healthy_food,fitness_food,sweets_desserts
0,2,30,5,4,4,3,4,4,4,3,...,0,0,0,0,0,0,0,0,0,1
1,0,20,5,2,4,4,4,4,5,2,...,1,0,1,0,0,0,0,0,0,1
2,1,15,5,2,2,5,3,5,2,2,...,0,1,0,0,0,0,0,0,0,0
3,0,40,5,5,4,3,4,4,3,4,...,0,0,0,0,0,0,0,0,0,0
4,0,15,5,4,2,3,4,4,2,3,...,0,0,0,0,0,0,0,0,0,0

In [33]:
X = df.drop("brazilian_food",axis=1)
y = df['brazilian_food']

In [34]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled[:3]

array([[ 1.25559743,  1.17612812,  0.38448796, -0.93242832,  0.20617958,
        -1.45194336, -0.73999989, -0.60297132,  0.18381531,  0.27295588,
        -0.39300688, -0.5385158 , -0.48971097, -0.25433919, -0.15459421,
         0.6645164 , -1.02236301,  0.61616639, -0.64662081, -0.34370317,
        -0.33469667, -0.20228869, -0.31150448, -0.25582226, -0.44391308,
        -0.29704426, -0.28209147,  1.28173989],
       [-0.77229207, -0.2053557 ,  0.38448796, -3.79656663,  0.20617958,
        -0.31113072, -0.73999989, -0.60297132,  1.04373289, -0.74624634,
        -0.39300688, -1.31850131,  0.98667691,  0.45467485,  0.39733425,
         1.30238946,  0.97812615,  0.61616639, -0.64662081,  2.90948729,
         2.98777999, -0.20228869, -0.31150448, -0.25582226, -0.44391308,
        -0.29704426, -0.28209147,  1.28173989],
       [ 0.24165268, -0.89609762,  0.38448796, -3.79656663, -1.6180615 ,
         0.82968192, -2.12155933,  0.64911709, -1.53601986, -0.74624634,
        -1.32840923, -0.5385158 , -1.22790491, -0.25433919, -0.15459421,
         0.6645164 ,  0.97812615,  0.61616639, -0.64662081, -0.34370317,
        -0.33469667, -0.20228869, -0.31150448, -0.25582226, -0.44391308,
        -0.29704426, -0.28209147, -0.7801895 ]])

In [35]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, stratify=y, random_state=10)

In [36]:
X_train.shape

(305, 28)

In [37]:
X_test.shape

(102, 28)

In [4]:
y_train.value_counts()

NameError: name 'y_train' is not defined

In [39]:
54/251

0.2151394422310757

In [40]:
y_test.value_counts()

0    84
1    18
Name: brazilian_food, dtype: int64

In [41]:
18/84

0.21428571428571427

In [42]:
#stand alone model

from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

scores = cross_val_score(DecisionTreeClassifier(), X, y, cv=5)
scores

array([0.81707317, 0.74390244, 0.80246914, 0.80246914, 0.7654321 ])

In [43]:
scores.mean()

0.7862691960252935

In [44]:
#bagging method
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(), 
    n_estimators=100, 
    max_samples=0.8, 
    oob_score=True,
    random_state=0
)
bag_model.fit(X_train, y_train)
bag_model.oob_score_

0.8360655737704918

In [45]:
bag_model.score(X_test, y_test)

0.7941176470588235

In [46]:
bag_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(), 
    n_estimators=100, 
    max_samples=0.8, 
    oob_score=True,
    random_state=0
)
scores = cross_val_score(bag_model, X, y, cv=5)
scores

array([0.85365854, 0.74390244, 0.80246914, 0.82716049, 0.81481481])

In [47]:
scores.mean()

0.8084010840108402

In [48]:
#random forest
from sklearn.ensemble import RandomForestClassifier
scores = cross_val_score(RandomForestClassifier(n_estimators=50), X, y, cv=5)
scores.mean()

0.8207166516109605